@font-face {
  font-family: 'GTWalsheimUltraBoldOblique';
  src: url('./assets/fonts/GTWalsheimUltraBoldOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimLight';
  src: url('./assets/fonts/GTWalsheimLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;   
    height: 100%;
    pointer-events: none; /* Allows to Click Through the Element */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    width: 30rem; 
    height: 40rem;
    padding: 1rem;
    background-color: #c5c2ab;
    border: 0.2rem solid #705d425b;
    border-radius: 20px;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),      
        0 8px 15px rgba(0, 0, 0, 0.1);  
}

.tab-container {
    display: flex;
}

.tab {
    flex: 1;
    background: none;
    border: none;
    font-family: "GTWalsheimUltraBoldOblique";
}

.tab:hover {
    cursor: pointer
}

.tab.active {
  color: #705d42;
}

.auth-form-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form h2 {
    margin-top: 1rem;
    text-align: center;
    font-family: "GTWalsheimUltraBoldOblique";
}

.form-group {
    margin: 0.75rem;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-family: "GTWalsheimLight";
}

.form-group input {
    height: 2rem;
    width: 100%;
    padding-left: 0.3rem;
    background: none;
    border: 0.10rem solid #705d4287;
    font-family: "GTWalsheimLight";
}

.form-group input:focus {
    outline: none;
}

.form-group input:valid {
    background-color: #c5c2ab;
}

.submit-btn {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #836d4fb4;
    border: 0.10rem solid #705d4287;
    cursor: pointer;
    font-family: "GTWalsheimUltraBoldOblique";
}

.submit-btn:hover {
    background-color: #836d4f76;
}

.separator-line {
  border: none;
  height: 1px; 
  width: 100%;
  background-color: #705d4287;
  margin: 2rem 2rem 1rem 2rem; 
}

.oauth-btn-wrapper {
    padding: 0 2rem 0 2rem;

    width: 100%;
    font-family: "GTWalsheimLight";
}

.oauth-btn-google {
    margin: 1rem auto;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "GTWalsheimLight";
    cursor: pointer;
}
