@font-face {
  font-family: 'GTWalsheimLight';
  src: url('./assets/fonts/GTWalsheimLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.add-function-wrapper {
    position: absolute;
    height: 10rem;
    width: 5rem;
    left: calc(100% + 1.8rem);
    bottom: -3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #705d42b7;
    border: 1px solid #705d42;
    border-radius: 20px;
    font-family: 'GTWalsheimLight';
}

.add-node-wrapper {
    border-radius: 20px 20px 0 0;
}

.add-line-wrapper {
    border-radius: 0 0 20px 20px ;
}

.add-node-wrapper,
.add-line-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
}

.add-node-wrapper:hover,
.add-line-wrapper:hover {
    background-color: #705d42bb;
}