@font-face {
  font-family: 'GTWalsheimUltraBoldOblique';
  src: url('./assets/fonts/GTWalsheimUltraBoldOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimLight';
  src: url('./assets/fonts/GTWalsheimLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #C5C2A8
}

/* ---------- MAIN SECTION ---------- */

.main-section {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;  
  align-items: center; 
  width: 100%;
  background-color: #C5C2A8;
  overflow: hidden;
}

.main-section.exploring  {
  flex-direction: row; 
}

.canvas-wrapper {   
  position: absolute; 
  inset: 0;
  height: 100%;  
  width: 100%;     
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), width 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.canvas-wrapper.shrink { 
  position: relative;
  transform: translateX(-20%);
}

h1 {
  font-family: 'GTWalsheimUltraBoldOblique', sans-serif;
  font-stretch: 200%;                 
  letter-spacing: 0.06em;
  transform: scaleX(1.25);  
  position: absolute;           
  display: inline-block;  
  top: 8vh;
  transition: transform 0.8s ease-out;            
}

h1.slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(-100vh); 
    opacity: 0;
  }
}

/* ---------- PANEL ---------- */

.node-panel {
  position: absolute; 
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
  z-index: 10;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.node-panel.active {
  transform: translateX(0);
  display: flex;
  justify-content: left;
} 

.node-panel-content {
  background-color: #c5c2ab;
  border: 0.2rem solid #705d425b;
  border-radius: 20px;
  box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),       
        0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.node-panel-content h2 {
  font-family: 'GTWalsheimUltraBoldOblique', sans-serif;
  margin-bottom: 1rem;
}

.node-panel-content p {
  font-family: 'GTWalsheimLight', sans-serif;
}

/* ---------- FOOTER ---------- */

.footer-wrapper {
  height: 5vh;        
  position: relative; /* Elements within will be positioned relative to the box */
  overflow: hidden;  /* Will hide overflow for the elements within it*/
}

.footer {
  position: absolute; 
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  transform: translateY(0);
  transition: transform 0.8s ease-out;
}
  
.footer.slide-down {
  animation: flyDown 0.45s cubic-bezier(0.2, 0.9, 0.3, 1) forwards;
  pointer-events: none;
}

@keyframes flyDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(120%); 
    opacity: 0;
  }
}

.footer.slide-up-enter {
  animation: slideUpFromBottom 0.25s forwards;
}

@keyframes slideUpFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}