@font-face {
  font-family: 'GTWalsheimLight';
  src: url('./assets/fonts/GTWalsheimLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.user-guide {
    position: fixed;
    padding: 1rem;
    top: 6rem;
    left: 2rem;
    width: 20%;
    background-color: #3b3123;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),       
        0 8px 15px rgba(0, 0, 0, 0.1);
    font-family: 'GTWalsheimUltraBoldOblique';
    color: #C5C2A8;
    overflow: hidden;
}

.user-guide-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.user-guide.collapsed {
    height: 3.5rem;
}

.user-guide h3 {
    margin-bottom: 1rem
}

.user-guide-content strong {
    display: block;
    margin-bottom: 0.5rem;
}

.user-guide p {
    margin-bottom: 1rem;
    font-family: "GTWalsheimLight";
}