@font-face {
  font-family: 'GTWalsheimUltraBoldOblique';
  src: url('./assets/fonts/GTWalsheimUltraBoldOblique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTWalsheimLight';
  src: url('./assets/fonts/GTWalsheimLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.controls-guide {
    position: fixed;
    padding: 1rem;
    bottom: 6rem;
    right: 2rem;
    border-radius: 20px;
    box-shadow: 
        0 4px 8px rgba(0, 0, 0, 0.1),       
        0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: #3b3123;
    color: #C5C2A8;
    font-family: 'GTWalsheimUltraBoldOblique';
}

.controls-guide h3 {
    margin-bottom: 0.5rem;
}

.control-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.25rem;
}

.control-icon img {
    height: 1.2rem;
    width: 1.2rem;
    
}

.control-text strong {
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
}

.control-text small {
    font-family: 'GTWalsheimLight';
}